<!DOCTYPE html>
<html>
    <head>
        <title>Streichelbox</title>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="wrapper">
            <div class="content">
                <form action="/" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    <label for="upload">Upload</label>
                    <br/>
                    <input id="upload" name="upload" type="file" value=""/>
                    <br/>
                    <input type="submit" value="submit"/>
                </form>
                {% if error %}
                <p>{{ report }}</p>
                {% endif %}{% if success %}
                <p>The file {{ filename }} with a size of {{ size }} bytes has been successfully uploaded.</p>
                <p>You can retrieve it under <a href="{{ domain_name }}/d/{{ id_code }}">{{ domain_name }}/d/{{ id_code }}</a>.</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>